* {
    clear: right;
}

#wrap img {
    margin-left:5%;
    width: 300px;
    height: 200px;
}

article {
    position: relative;
    border: 1px solid rgb(129, 115, 115);
    height: 300px;
    width: 60%;
    margin: 3% 20%;
}

.photo{
    position: absolute;
    top : 17%;
}

.description {
    position: absolute;
    top : 17%;
    left : 350px;
}
