nav li {
    display : block;
    list-style-type: none;
    color : gray;
    background-color : blue;
    width : 100px;
    height : 30px;
    float: left;
    margin : 0 10px;
    text-align : center;
}